html {
    font-family: "Bebas Neue",Arial;
}

body.negro {
    background-color: black;
}

img.valenciacf {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.valenciacf2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

img.jugador {
    width: 140px;
}

h1.ecf {
    text-align: center;
    font-size: 100px;
    color: white;
    margin-top: 0px;
}

h1.subopcion{
    text-align: center;
    color: white;
    background-color: black;
    margin: 0px;
}

h2 {
    text-align: center;
}

h2.seleccion {
    margin-top: 110px;
    color: white;
}

section.taquillas {
    border: 1px solid rgb(155, 155, 155);
    width: 250px;
    height: 250px;
    position: relative;
    left: 9%;
    background-color: orange;
}

section.plantilla{
    border: 1px solid rgb(155, 155, 155);
    width: 250px;
    height: 250px;
    position: relative;
    left: 43%;
    bottom: 250px;
    background-color: orange;
}

section.contacto {
    border: 1px solid rgb(155, 155, 155);
    width: 250px;
    height: 250px;
    position: relative;
    left: 77%;
    bottom: 504px;
    background-color: orange;
}

section.formulario {
    border: 1px solid orange;
    border-radius: 20px;
    width: 700px;
    margin: auto;
    margin-top: 140px;
}

input#nombre {
    display: block;
    margin: auto;
    width: 400px;
    height: 40px;
    margin-bottom: 20px;

}

input#apellidos {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 40px;
}

input#DNI {
    display: block;
    margin: auto;
    width: 400px;
    height: 40px;
    margin-bottom: 20px;

}

input#taquilla {
    display: block;
    margin: auto;
    width: 400px;
    height: 40px;
    margin-bottom: 20px;
}

input#enviar {
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: orange;
    color: white;
    border-style: hidden;
    border-radius: 10px;
    font-family: "Bebas Neue",Arial;
    font-size: 18px;
    text-align: center;
    width: 90px;
    height: 35px;
}

p {
    margin-left: 20px;
}