html{
    font-family: sans-serif;
}

h1.ecf {
    text-align: center;
    font-size: 140px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(67, 161, 199);
    border: 1px solid rgb(167, 167, 167);
}

h2 {
    text-align: center;
}

section {
    border: 1px solid rgb(155, 155, 155);
    width: 250px;
    height: 250px;
}

section.taquillas {
    position: relative;
    left: 10%;
}

section.plantilla{
    position: relative;
    left: 44%;
    bottom: 250px;
}

section.contacto {
    position: relative;
    left: 78%;
    bottom: 504px;
}