html {
    font-family: "Bebas Neue",Arial;
}

body.principal {
    background-color: black;
}

img.valenciacf {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1.ecf {
    text-align: center;
    font-size: 100px;
    color: white;
    margin-top: 0px;
}

h1.plantilla {
    text-align: center;
    color: white;
    background-color: black;
    margin: 0px;
}

h2 {
    margin-top: 110px;
    text-align: center;
    color: white;
}

section {
    border: 1px solid rgb(155, 155, 155);
    width: 250px;
    height: 250px;
}

section.taquillas {
    position: relative;
    left: 9%;
    background-color: orange;
}

section.plantilla{
    position: relative;
    left: 43%;
    bottom: 250px;
    background-color: orange;
}

section.contacto {
    position: relative;
    left: 77%;
    bottom: 504px;
    background-color: orange;
}